@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:300,400,600,700');

/* 
font-family: 'Raleway', sans-serif;
font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
*/

/* VARIABLES */
$button-color: #e84545;
$features-header-color: #2d3033;
$features-text-color: #6c7279;
$main-xs-nav-color: #35418d;
$icon-color: #c5c9ca;
$half-vw: 50vw;

/* MIXIN */

@mixin transform($trans) {
	-webkit-transform: $trans;
	-ms-transform: $trans;
	transform: $trans;
}

@mixin middle-align {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}

@mixin transition($transition) {
	-webkit-transition: $transition;
	transition: $transition;
}

/* GENERAL */
body {
	font-family: 'Raleway', sans-serif;
}

.btn {
	background-color: $button-color;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 46px;
	padding: 0 50px;
	@include transition(0.4s);
	&:hover {
		color: $button-color;
		border-color: $button-color;
		background: #fff;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	}
}
section {
	margin: 60px 0;
}


p {
	color: $features-text-color;
	font-size: 14px;
}
/* NAV */
nav {
	margin-top: 20px;
	position: relative;
	z-index: 1;
	.navbar-brand {
		@include middle-align;
	}
	.navbar-toggle {
			border: 2px solid $main-xs-nav-color;
		.icon-bar {
			background: #000;
		}
	}
	
	.navbar-right {
		a {
			color: #fff;
			opacity: 0.75;
			font-size: 13px;
			text-transform: uppercase;
			min-width: 140px;
			text-align: center;
			line-height: 40px;
			@include transition(0.3s);
			&:hover {
				background: transparent;
				color: $button-color;
			}
		}
	}
}

/* JUMBOTRON */
.jumbotron {
	color: #fff;
	background: url('img/jumbotronbg.png') center center no-repeat;
	min-height: 750px;
	position: relative;
	margin-top: -120px;
	.jumbo-content {
		position: absolute;
		top: calc(50px + 50%);
		@include transform(translateY(-50%));
		left: 0;
		right: 0;
		max-width: 950px;
		margin: auto;
		h1 {
			font-family: 'Open Sans', sans-serif;
			text-transform: uppercase;
			max-width: 870px;
			margin: 0 auto 30px;
		}
		p {
			margin-bottom: 70px;
		}
	}
}
/* FEATURES */
.features {
	margin-top: 0;
	img {
		margin-top: 30px;
	}
	h2 {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		margin: 25px 0 25px;
		color: $features-header-color;
	}
	p {
		max-width: 300px;
		margin: auto;
	}
	
}

/* WORKS */
.works {
	[class*="col"] {
		padding: 1px;
	}
	a {
		display: block;
		position: relative;
		&:hover {
			&:before {
				background: rgba(217, 61, 67, 0.7);
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
			}
			.layer {
				display: block;
			}
		}
		img {
			margin: auto;
		}
		.layer {
			@include middle-align;
			color: #fff;
			display: none;
			left: 0;
			right: 0;
			margin: auto;
			h3 {
				font-weight: 700;
				font-size: 14px;
			}
			p {
				color: #fff;
			}
		}
	}	
}
/* TEAM */
.team {
	margin-bottom: 0;
	img {
		margin: 0 auto;
	}
	.team-person-info {
		max-width: 265px;
		margin: 0 auto;
		padding-bottom: 15px;
		h2 {
			font-size: 22px;
			color: #2d3033;
		}
		h3 {
			font-size: 13px;
			color: #f82127;
			text-transform: uppercase;
			margin: 10px 0 20px;
		}
		.fa {
			line-height: 40px;
			text-align: center;
			font-size: 20px;
			width: 40px;
			height: 40px;
			border: 1px solid $icon-color;
			color: $icon-color;
			@include transition(0.4s);
			&:hover {
				color: #fff;
			}
		}
		.fa-facebook {
			&:hover {
				background: #3b5998;
				border-color: #3b5998;
			}
		}
		.fa-twitter {
			&:hover {
				background: #55acee;
				border-color: #55acee;
			}
		}
		.fa-linkedin {
			&:hover {
				background: #007bb5;
				border-color: #007bb5;
			}
		}
	}
}

/* CLIENTS */
.clients {
	overflow-x: hidden;
	[class*="col"] {
		padding: 0;
	}
	.clients-carousel {
		background: #53354a;
		width: $half-vw;
		height: $half-vw/1.92;
		#myCarousel {
			height: 100%;
			.carousel-indicators {
				width: 100%;
				bottom: 10px;
				left: -15%;
				margin: auto;
				li {
					background: rgba(255,255,255, 0.2);
				}
				li.active {
					background: #fff;
				}
			}
			.carousel-inner {
				max-width: 500px;
				color: #fff;
				padding-left: 8%;
				position: relative;
				top: 4%;
				h2 {
					font-family: 'Cardo', serif;
					font-style: italic;
					line-height: 42px;
					font-size: 36px;
					margin-bottom: 30px;
				}
				p {
					text-transform: uppercase;
					font-weight: 700px;
					font-size: 13px;
					color: #fff;
				}
			}
		}
	}
}

/* MEDIA */
@media (max-width: 1200px) {
	.clients {
		.clients-carousel {
			#myCarousel {
				.carousel-inner {
					h2 {
						line-height: 32px;
						font-size: 30px;
						margin-bottom: 30px;
					}
				}
			}
		}
	}
}
@media (max-width: 991px) {
	nav {
		.navbar-right {
			a {
				min-width: auto;
			}
		}
	}
	.clients {
		img {
			width: 100%;
		}
		.clients-carousel {
			width: 100vw;
			height: (100vw)/1.92;
		}
	}
}

@media (max-width: 768px) {
	nav {
		background: #d34;
		margin-top: 0;
		.navbar-brand {
			position: static;
			@include transform(translateY(0))
		}
		.navbar-right {
			a {
				&:hover {
					color: $main-xs-nav-color/1.5;
				}
			}
		}
	}
	.jumbotron {
		margin-top: -20px;
	}
	.clients {
		.clients-carousel {
			#myCarousel {
				.carousel-inner {
					padding-left: 0;
				}
			}
		}
	}
}

@media (max-width: 475px) {
	.works {
		[class*="col"] {
			width: 100%;
		}
	}
}
