@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:300,400,600,700");
/* 
font-family: 'Raleway', sans-serif;
font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
*/
/* VARIABLES */
/* MIXIN */
/* GENERAL */
body {
  font-family: 'Raleway', sans-serif; }

.btn {
  background-color: #e84545;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 46px;
  padding: 0 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .btn:hover {
    color: #e84545;
    border-color: #e84545;
    background: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2); }

section {
  margin: 100px 0; }

/* NAV */
nav {
  margin-top: 20px;
  position: relative;
  z-index: 1; }
  nav .navbar-brand {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  nav .navbar-toggle {
    border: 2px solid #35418d; }
    nav .navbar-toggle .icon-bar {
      background: #000; }
  nav .navbar-right a {
    color: #fff;
    opacity: 0.75;
    font-size: 13px;
    text-transform: uppercase;
    min-width: 140px;
    text-align: center;
    line-height: 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    nav .navbar-right a:hover {
      background: transparent;
      color: #e84545; }

/* JUMBOTRON */
.jumbotron {
  color: #fff;
  background: url("img/jumbotronbg.png") center center no-repeat;
  min-height: 750px;
  position: relative;
  margin-top: -120px; }
  .jumbotron .jumbo-content {
    position: absolute;
    top: calc(50px + 50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    max-width: 950px;
    margin: auto; }
    .jumbotron .jumbo-content h1 {
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      max-width: 870px;
      margin: 0 auto 30px; }
    .jumbotron .jumbo-content p {
      margin-bottom: 70px; }

/* FEATURES */
.features img {
  margin-top: 40px; }

.features h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 25px 0 25px;
  color: #2d3033; }

.features p {
  color: #6c7279;
  max-width: 300px;
  margin: auto; }

/* WORKS */
.works [class*="col"] {
  padding: 1px; }

.works a {
  display: block;
  position: relative; }
  .works a:hover:before {
    background: rgba(217, 61, 67, 0.7);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%; }
  .works a:hover .layer {
    display: block; }
  .works a img {
    margin: auto; }
  .works a .layer {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    display: none;
    left: 0;
    right: 0;
    margin: auto; }
    .works a .layer h3 {
      font-weight: 700;
      font-size: 14px; }

/* TEAM */
.team img {
  margin: 0 auto; }

/* MEDIA */
@media (max-width: 992px) {
  nav .navbar-right a {
    min-width: auto; } }

@media (max-width: 768px) {
  nav {
    background: #d34;
    margin-top: 0; }
    nav .navbar-brand {
      position: static;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    nav .navbar-right a:hover {
      color: #232b5e; }
  .jumbotron {
    margin-top: -20px; } }

@media (max-width: 475px) {
  .works [class*="col"] {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */